.books_list{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 80px;
    margin-left: 100px;
}

#bookscollection{
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 70px;
    margin-left: 600px;
    font-family: cursive;
    /* margin-bottom: 20px; */
}

.bn{
    justify-content: center;
    border-radius: 20px;
}


