.product_list{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    margin-top: 80px;
    margin-left: 100px;
    /* border: 1px solid black;
    height: 400px;
    width: 350px;
    box-shadow: 2px 2px grey; */
}