/* 
.main{
  border: solid black 0.5px;
  padding: 10px;
  height: 310px;
  width: 220px;
  text-align: center;
}

.main img{
  height: 60%;
  width: 60%;
}

.main h6,h4{
  margin: 0px;
}

.a{
  display: flex;
  justify-content: space-around;
}

#shoe{
  height: 250px;
  width: 230px;
} */

/* ================================================= */
         /* NAVBAR */
.nav{
  justify-content: space-around;
  margin-right: 60px;
}

/* ================================================== */
            /* SNAPSHOT */
.snap{
  text-align: center;
  color: purple;
}

.but{
   text-align: center;
}

.but1{
  background-color: black;
  color: white;
  text-align: center;
  justify-content: space-between;
  margin-right: 50px;
  
}


.beach{
  height: 130px;
  margin:  auto;
  align-items: center;
  margin-left: 150px;
  padding-left: 80px;
}

.mount{
  height: 130px;
  margin:  auto;
  align-items: center;
  margin-left: 150px;
  padding-left: 80px;
}

.bird{
  height: 130px;
  margin:  auto;
  align-items: center;
  margin-left: 150px;
  padding-left: 80px;
  margin-bottom: 50px;
}

.food{
  height: 130px;
  margin:  auto;
  align-items: center;
  margin-left: 150px;
  padding-left: 80px;
  margin-bottom: 50px;
}

/* ============================================= */

        /* FakeStoreApi */

 .main{
  width: 100%;
  align-content: space-around;
  display: flex;

grid-template-columns: "auto auto auto";
grid-column-gap: 50px ;
grid-row-gap: 50px ;
} 

.main img{
  height: 190px;
  width: 200px;
  
}

.main h3,h4,h4,h5{
  margin: 0px;
}

.main1{
 margin-left: 40px;
width: 700px;
border: 1px solid black;
/* border-radius: 20%; */
background-color: antiquewhite;

}

/* ================================================== */

.whole{
  height: 300px;
  width: 500px;
  background-color: rgb(202, 202, 232);
  /* margin-left: 200px; */
  margin: auto;
}

.top{
  height: 50px;
  width: 500px;
  background-color: rgb(125, 16, 227);
  margin: auto;
  justify-content: center;
  /* position: relative; */
  /* margin-left: 20px; */
}

.form{
  margin: auto;
  height: 200px;
  width: 300px;
 /* justify-content: center; */
  /* justify-items: center; */
}

.form{
  /* background-color: aquamarine; */
background-color: rgb(183, 222, 135);
  height: 100px;
  width: 300px;
  
}

.input{
  margin-top: 20px;
  margin-left: 60px;
  height: 30px;
  width: 200px;
}

.list{
  position: relative;
  /* margin-bottom: 200px; */
  margin-top: 20px;
  margin-left: 100px;

  height: 150px;
  width: 300px;
  /* background-color: blanchedalmond; */
}

#title{
  margin-left: 70px;
}

.btn{
  margin-top: 20px;
  margin-left: 110px;
}